/dts-v1/;
#include "zynq-7000.dtsi"

/ {
    model = "ALINX AX7021";
    compatible = "xlnx,zynq-7000";

    aliases {
        serial0 = &uart1;
        ethernet0 = &gem0;
        mmc0 = &sdhci0;
    };

    chosen {
        stdout-path = "serial0:115200n8";
    };

    memory@0 {
        device_type = "memory";
        reg = <0x0 0x20000000>;  /* 512MB for now, safe */
    };
};

&uart1 {
    status = "okay";
};

&sdhci0 {
    status = "okay";
};

&gem0 {
    status = "okay";
    phy-mode = "rgmii-id";
    phy-handle = <&phy0>;

    mdio {
        #address-cells = <1>;
        #size-cells = <0>;
        phy0: ethernet-phy@1 {
            reg = <1>;
            compatible = "ethernet-phy-id0022.1622", "ethernet-phy-ieee802.3-c22";
        };
    };
};
